.box {
    width: 400px;
    height: 570px;
    background-color: white;
    box-sizing: border-box;
    justify-content: center;
    border: 2px solid black;
    margin: 0 auto;
    border-radius:20px;
    overflow:hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.box img{
  width: 100%;
}
body {
  background-color: #f2f4f8;
}
p {
    text-align: center;
    font-family: Poppins;
}
h2 {
    text-align: center;
    font-family: Playfair Display;
  }
.text {
  padding: 20px;
}
.button{
  background-color: #2f5d8a;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  margin: 20px;
  box-sizing: border-box;
  justify-content: center;
  border: 2px solid black;
  display: flex; 
  align-items: center;
  
  
}
.a{
  color:white;
  font-family: Poppins;
  text-decoration: none;
}
